<header class="pt-4 w-100 bams-header">
    <!-- <nav class="container">
    <div class="row justify-content-end mr-3">
    	<a href="">Restart</a> &nbsp;<a>|&nbsp;</a>
        <a href="">Need Help? &nbsp; Call 855-871-4270 Opt 3</a> &nbsp;<a>| &nbsp;</a>
        <button class="bams-logout-button" (click)="Logout()">Logout</button>
    </div>    
  </nav> -->
    <nav class="w-100 navbar navbar-expand-lg navbar-light bg-light mx-auto justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="assets/images/bams_logo_horizontal.svg" class="d-sm-inline-block d-none align-top" height="30" alt="BAMS Logo" />
            <img src="assets/images/bams_logo.svg" class="d-lg-none d-md-none d-sm-none d-inline-block align-top" height="50" alt="BAMS Logo" />
        </a>
        <div class="navbar-collapse" id="navbarTogglerDemo02">
            <form class="form-inline my-2 my-lg-0 ml-auto justify-content-center">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="">Need Help? &nbsp; Call 877-759-5790</a>
                    </li>
                </ul>
                <button class="btn btn-outline-danger mx-auto my-2 my-sm-0" (click)="Logout()">Logout</button>
            </form>
        </div>
    </nav>
</header>